page-inspection-list {
  .analysis {
    background-color: #fafaae;
  }

  .pending {
    background-color: #c4a7ff;
  }

  .approved {
    background-color: #c9ecc9;
  }

  .rejected {
    background-color: #fcb9b9;
  }
}
