page-profile {
    .avatar-profile {
        padding: 20px;
        img{
          margin: auto;
          max-width: 10rem;
          min-width: 10rem;
          border-radius: 100%;
        }
      }
}
